.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link,
.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link > a,
.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link > label,
.md-nav--primary > .md-nav__list > .md-nav__item--active > .md-nav__link,
.md-nav--primary > .md-nav__list > .md-nav__item--active > .md-nav__link > a {
  font-weight: 700 !important;
}
/* Segregation 'Runbooks' (7. Element) */
.md-nav--primary > .md-nav__list > .md-nav__item:nth-child(7),
/* Segregation 'ADRs' (8. Element) */
.md-nav--primary > .md-nav__list > .md-nav__item:nth-child(8),
/* Segregation 'Security Concept' (9. Element) */
.md-nav--primary > .md-nav__list > .md-nav__item:nth-child(9) {
  border-top: 1px solid var(--md-default-fg-color--lightest);
  margin-top: 0rem;
  padding-top: 0.6rem;
}
/* Custom Background Overlay für Zensical Docs */
body::after {
  content: "";
  /* Pfad entsprechend deiner Ordnerstruktur anpassen */
  background-image: url("../images/bg-drg.png");
  background-repeat: no-repeat;

  /* Drache unten zentrieren */
  background-position: bottom center;
  background-size: 100% auto; /* Passt sich dynamisch der Fensterbreite an */

  /* Fest am unteren Bildschirmrand fixieren */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* WICHTIG: Verhindert, dass das Bild Links oder Text blockiert */
  pointer-events: none;

  /* Legt das Bild über den Hintergrund, aber unter Modal-Fenster/Popups */
  z-index: 10;

  /* Optional: Deckkraft anpassen, falls es noch einen Tick dezenter sein soll */
  opacity: 0.4;
}
